@import '~antd/dist/antd.css';
body{
    position: relative;
}
.App{
    margin-left: 5px;

}
.row{
    margin: 10px ;
}
.author{
    text-align: center;
    position:absolute;
    bottom:0;
    left: 0;
    right: 0;
}
